<div class="hero">
  <section class="pagina-principal">
    <div class="contenedor">
      <div class="info-usuario" id="infoUsuarioContenedor"></div>
      <div class="calendario">
        <header>
          <p class="current-date"></p>
          <div class="icons">
            <span id="prev" class="material-symbols-rounded"><</span>
            <span id="next" class="material-symbols-rounded">></span>
          </div>
        </header>
        <div class="calendar">
          <ul class="weeks">
            <li>Dom</li>
            <li>Lun</li>
            <li>Mar</li>
            <li>Mie</li>
            <li>Jue</li>
            <li>Vie</li>
            <li>Sab</li>
          </ul>
          <ul class="days"></ul>
        </div>
      </div>
      <div class="recordatorios">
        <div class="titulo">
          <h1>Recordatorios</h1>
        </div>
        <div class="informacion" id="contenedorRecordatorios"></div>
      </div>
      <div class="botones">
        <div class="boton-info">
            <button pButton type="button" label="Agregar recordatorio" (click)="modalReminder.showReminderDialog()"></button>
        </div>

        <div class="boton-info">
            <button pButton type="button" label="Eliminar recordatorio" (click)="modalDelete.showDeleteDialog()"></button>
        </div>
      </div>
    </div>
  </section>
</div>

<app-modal-reminder #modalReminder></app-modal-reminder>
<app-modal-delete-reminder #modalDelete></app-modal-delete-reminder>
