<div class="main-container">
  <section class="homepage">
    <div class="content-container">
      <div class="calendar-section">
        <h2>Calendario</h2>
        <p-calendar [(ngModel)]="date" [showIcon]="true"></p-calendar>
      </div>

      <div class="reminder-section">
        <h2>Recordatorios</h2>
        <!-- Aquí irían los recordatorios -->
      </div>
    </div>

    <div class="button-container">
      <div class="button-info">
          <button pButton type="button" label="Agregar" (click)="modalReminder.showReminderDialog()"></button>
      </div>

      <div class="button-info">
          <button pButton type="button" label="Eliminar" (click)="modalDelete.showDeleteDialog()"></button>
      </div>
    </div>
  </section>
</div>

<app-modal-reminder #modalReminder></app-modal-reminder>
<app-modal-delete-reminder #modalDelete></app-modal-delete-reminder>
