.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffd700;
}

header {
  width: 80%;
  text-align: center;
  padding: 20px;
}

header h1 {
  font-size: 2.5em;
  color: #000000;
}

header p {
  font-size: 1.2em;
}

.main-content {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.main-image {
  width: 45%;
}

.main-image img {
  width: 100%;
  height: auto;
}

.main-text {
  width: 45%;
}

.main-text h2 {
  font-size: 2em;
  color: #000000;
}

.main-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  padding: 15px 25px;
  border-radius: 5px;
  background-color: #ffffff;
  color: #343a40;
  cursor: pointer;
}

button:hover {
  background-color: #dfddda;
}

footer {
  width: 100%;
  padding: 20px;
  text-align: center;
}
