<div class="main-container">
    <header>
      <h1>Bienvenido a Control de Medicamentos</h1>
      <p>La mejor plataforma para gestionar tus medicamentos</p>
    </header>
  
    <div class="main-content">
        <div class="main-image">
            <img src="../../../assets/img/bienvenida.png" alt="Imagen de bienvenida">
        </div>
  
        <div class="main-text">
            <h2>Inicia sesión o regístrate para continuar</h2>
            <div class="main-buttons">
                <button pButton type="button" label="Iniciar Sesión" (click)="modalLogin.showLoginDialog()"></button>
                <button pButton type="button" label="Registrarse" (click)="modalRegister.showRegisterDialog()"></button>
            </div>        
        </div>
    </div>
  
    <footer>
      <p>© 2023 Control de Medicamentos. Todos los derechos reservados.</p>
    </footer>
  
    <app-modal-login #modalLogin></app-modal-login>
    <app-modal-register #modalRegister></app-modal-register>
  </div>
  