<p-dialog header="Agregar recordatorio" [(visible)]="reminderDialogVisible" [modal]="true" [style]="{ 'width': '60vw', 'height': '80vh' }" [draggable]="false" [resizable]="false">

<div id="targetModalAgregarRecordatorio" class="modal">
    <!-- Modal content -->
    <div class="modal-contenido p-fluid">
        <div class="modal-cabecera">
            <p class="modal__descripcion">Selecciona un recordatorio a agregar al calendario</p>
        </div>

        <div class="modal-cuerpo">

            <div class="campo">
                <div class="campo-titulo">
                    <label for="name">Malestar/Enfermedad</label>
                </div>
                <div class="card flex justify-content-center">
                    <p-dropdown [options]="diseases" [(ngModel)]="selectedDisease" optionLabel="disease"></p-dropdown>
                </div>
            </div>

            <div class="campo">
                <div class="campo-titulo">
                    <label for="name">Redacta una breve descripción del reporte a enviar al doctor</label>
                </div>
                <div class="card flex justify-content-center">
                    <textarea rows="5" cols="30" pInputTextarea [autoResize]="true"></textarea>
                </div>
            </div>

        </div>

        <div class="modal-pie">
            <button id="btnReportarDatosModal">Guardar</button>
        </div>
    </div>
</div>
</p-dialog>