<p-dialog header="Eliminar recordatorio" [(visible)]="deleteDialogVisible" [modal]="true" [style]="{ width: '60vw', height: '80vh' }" [draggable]="false" [resizable]="false">
    <div class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <p class="modal-description">Selecciona el malestar que deseas eliminar</p>
        </div>
  
        <div class="modal-body">
            <div class="field">
                <div class="field-title">
                  <label for="name">Malestar/Enfermedad</label>
                </div>
                <div class="card flex justify-content-center">
                  <p-dropdown class="custom-dropdown" [options]="diseases" [(ngModel)]="selectedDisease" optionLabel="disease"></p-dropdown>
                </div>
            </div>
  
          <div class="field">
            <div class="field-title">
              <label for="name">Redacta una breve descripción del reporte a enviar al doctor</label>
            </div>
            <div class="card flex justify-content-center">
              <textarea rows="5" cols="30" pInputTextarea [autoResize]="true"></textarea>
            </div>
          </div>
        </div>
  
        <p-button label="Guardar" icon="pi pi-check" styleClass="p-button-success"></p-button>
      </div>
    </div>
  </p-dialog>
  